#savings-projection-widget {
    padding: 1rem;
    background-color: var(--widget-color);
    border-radius: 10px;
    color: var(--text-color);
    
}
#goal-feasibility {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

#goal-feasibility:before {
    content: "";
    margin-right: 5px;
}
#aer-container {
  display: flex;        
  justify-content: center;
  align-items: center;         
  gap: 0.5rem;                    
  font-weight: bold;
  font-size: 1.1em;
        
}

.tooltip-icon {
  cursor: help;
  color: crimson;
  position: relative;
  vertical-align: middle;
  font-size: 1rem;
  margin-bottom: 5px;
}

/* Tooltip text container */
.tooltip-icon::after {
  content: attr(aria-label);
  position: absolute;

  background-color: none;
  color: var(--text-color);
  padding: 5px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  font-size: 0.85em;
  z-index: 10;
}

/* Tooltip arrow */
.tooltip-icon::before {
  content: "";
  position: absolute;

  border-width: 6px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10;
}

/* Show tooltip on hover and focus */
.tooltip-icon:hover::after,
.tooltip-icon:focus::after,
.tooltip-icon:hover::before,
.tooltip-icon:focus::before {
  opacity: 1;
  pointer-events: auto;
}
