<div class="widget medium" id="cashflow-chart-widget">
    <h3>Cash Flow Chart</h3>
    <div class="cashflow-container">
        <canvas id="cashflow-chart" class="cashflow-chart"></canvas>
        <div id="totals">
            <div class="total-label">Income: <span id="income-total" class="total-value">£0.00</span></div>
            <div class="total-label">Expense: <span id="expense-total" class="total-value">£0.00</span></div>
            <div class="total-label">Bills: <span id="bills-total" class="total-value">£0.00</span></div>
        </div>
    </div>
</div>
