<div class="widget medium" id="habits-widget">
    <h3>Habits</h3>
    <div class="habits-layout">
        <div class="chart-container">
            <canvas id="radarChart"></canvas>
        </div>
        <div class="habits-table-container">
            <table class="habits-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Recurring</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody id="all-habits-table-body"></tbody>
            </table>
        </div>
    </div>
</div>
