{% extends "base.html" %}
{% block title %} Settings Page {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<!--WIDGETS CSS-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/upcoming.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/total.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/habits.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/savings_projection.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/savings.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/cashflowChart.css') }}">
{% endblock %}


{% block extra_nav %}
<div class="navbar-section navbar-left">
    <div class="welcome">
        <div class="avatar"></div>
        <span>Welcome Back, <a href="#">{{ current_user.username }}</a></span>
    </div>
</div>
<div class="navbar-section navbar-right">
    <a href="{{ url_for('main.dashboard_page') }}" class="{% if active_page == 'dashboard' %}active{% endif %}">Overview</a>
    <a href="{{ url_for('main.entry_page') }}" class="{% if active_page == 'entry' %}active{% endif %}">Entry</a>
</div>

{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="widget-slot large" data-widget="total_pie"></div>
    <div class="widget-slot medium" data-widget="upcoming_bills"></div>
    <div class="widget-slot medium" data-widget="habits"></div>
    <div class="widget-slot small" data-widget="savings"></div>
    <div class="widget-slot medium" data-widget="cashflow_chart"></div>
    <div class="widget-slot large" data-widget="savings_projection"></div>
    <div class="widget-slot large" data-widget="Investments"></div>
    <div class="widget-slot medium" data-widget="debt"></div>
    

</div>


{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}