{% extends "base.html" %}
{% block title %} Dashboard Page {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<!--WIDGETS CSS-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/upcoming.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/investments.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/total.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/habits.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/savings_projection.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/savings.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/cashflowChart.css') }}">
{% endblock %}


{% block extra_nav %}
<div class="navbar-section navbar-left">
    <div class="welcome">
        <div class="avatar"></div>
        <span>Welcome Back, <a href="#">{{ current_user.username }}</a></span>
    </div>
</div>
<div class="navbar-section navbar-right">
    <a href="{{ url_for('main.dashboard_page') }}" class="{% if active_page == 'dashboard' %}active{% endif %}">Overview</a>
    <a href="{{ url_for('main.entry_page') }}" class="{% if active_page == 'entry' %}active{% endif %}">Entry</a>
</div>

{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="widget-slot large" data-widget="total_pie">
        <select class="widget-dropdown">
            <option value="total_pie">Total Pie</option>
            <option value="savings_projection">Savings Projection</option>
            <option value="investments">Investments</option>
        </select>
        <div class="widget-content"></div>
    </div>

    <div class="widget-slot medium" data-widget="upcoming_bills">
        <select class="widget-dropdown">
            <option value="upcoming_bills">Upcoming Bills</option>
            <option value="cashflow_chart">Cashflow</option>
            <option value="habits">Habits</option>
            <option value="">Debt</option>
        </select>
        <div class="widget-content"></div>
    </div>

    <div class="widget-slot medium" data-widget="habits">
        <select class="widget-dropdown">
            <option value="habits">Habits</option>
            <option value="cashflow_chart">Cashflow</option>
            <option value="upcoming_bills">Upcoming Bills</option>
            <option value="">Debt</option>
        </select>
        <div class="widget-content"></div>
    </div>

    <div class="widget-slot small" data-widget="savings">
        <select class="widget-dropdown">
            <option value="savings">Savings</option>
        </select>
        <div class="widget-content"></div>
    </div>

    <div class="widget-slot medium" data-widget="cashflow_chart">
        <select class="widget-dropdown">
            <option value="cashflow_chart">Cashflow</option>
            <option value="habits">Habits</option>
            <option value="upcoming_bills">Upcoming Bills</option>
            <option value="">Debt</option>
        </select>
        <div class="widget-content"></div>
    </div>

    <div class="widget-slot large" data-widget="savings_projection">
        <select class="widget-dropdown">
            <option value="savings_projection">Savings Projection</option>
            <option value="total_pie">Total Pie</option>
            <option value="investments">Investments</option>
        </select>
        <div class="widget-content"></div>
    </div>
    
    <div class="widget-slot large" data-widget="Investments">
        <select class="widget-dropdown">
            <option value="investments">Investments</option>
            <option value="savings_projection">Savings Projection</option>
            <option value="total_pie">Total Pie</option>
        </select>
        <div class="widget-content"></div>
    </div>
    
    <div class="widget-slot medium" data-widget="debt">
        <select class="widget-dropdown">
            <option value="debt">Debt</option>
            <option value="cashflow_chart">Cashflow</option>
            <option value="habits">Habits</option>
            <option value="upcoming_bills">Upcoming Bills</option>
        </select>
        <div class="widget-content"></div>
    </div>
    

</div>


{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}