{% extends "base.html" %}
{% block title %} Entry page {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/entry.css') }}">
{% endblock %}

{% block extra_nav %}
<div class="navbar-section navbar-left">
    <div class="welcome">
        <div class="avatar"></div>
        <span>Welcome Back, <a href="#">{{ current_user.username }}</a></span>
    </div>
</div>
<div class="navbar-section navbar-right">
    <a href="{{ url_for('main.dashboard_page') }}" class="{% if active_page == 'dashboard' %}active{% endif %}">Overview</a>
    <a href="{{ url_for('main.entry_page') }}" class="{% if active_page == 'entry' %}active{% endif %}">Entry</a>
</div>

{% endblock %}


{% block content %}
<div class="entry">
    <div class="income">
        <h3>Income</h3>
    </div>

    <div class="savings">
        <div class="savings-entry">
            <h3 class="center-title">Savings</h3>
            <form id="savings-form" class="form-grid">
                <input type="number" step="0.01" name="amount" placeholder="Amount (£)" min="0" required />

                <div class="saving input-row">
                    <select name="interval" required>
                    <option value="" disabled selected>Select Intervals</option>
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthly">Monthly</option>
                    <option value="quarterly">Quarterly</option>
                    <option value="half-year">Half Year</option>
                    <option value="yearly">Yearly</option>
                    </select>
                    <input type="number" step="0.01" name="instalment" placeholder="Instalment (£)" min="0" />
                    <input type="number" name="percentage" placeholder="AER (%)" min="0" max="20" step="0.01" required />
                </div>

                <div class="divider"></div>

                <div class="input-row">
                    <input type="number" step="0.01" name="goalAmount" placeholder="Goal Amount (£)" min="0" required />
                    <input type="date" name="goalDate" required />
                </div>

                <div class="button-row">
                    <button type="submit" class="add-savings">Submit</button>
                    <button type="button" id="update-savings" class="update">Update</button>
                </div>
            </form>
        </div>
    </div>




    <div class="goals">
        <h3>Goals</h3>
    </div>

    <div class="investments">
        <h3>Investments</h3>
    </div>

    <div class="expense">
        <h3>Expense</h3>
    </div>

    <div class="bills">
        <div class="bills-entry">
            <h3 class="center-title">Bills</h3>

            <form id="bill-form" class="form-grid">
                <input type="text" name="name" placeholder="input Name" required />

                <div class="input-row">
                    <input type="number" step="0.01" name="amount" placeholder="Amount (£)" required />
                    <input type="date" name="date" required />
                </div>

                <div class="button-row">
                    <button type="submit" class="add-bill-btn">+</button>
                </div>
            </form>

            <div class="table-container">
                <table class="bill-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="all-bills-table-body">
                        <!-- JS injects rows here -->
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="debt">
        <h3>Debt</h3>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/entry.js') }}"></script>
{% endblock %}