{% extends "base.html" %}
{% block title %} Entry page {% endblock %}


{% block extra_nav %}
<div class="navbar-section navbar-left">
    <div class="welcome">
        <div class="avatar"></div>
        <span>Welcome Back, <a href="#">{{ current_user.username }}</a></span>
    </div>
</div>
<div class="navbar-section navbar-right">
    <a href="{{ url_for('main.dashboard_page') }}"
        class="{% if active_page == 'dashboard' %}active{% endif %}">
        Overview
    </a>

    <a href="{{ url_for('main.entry_page') }}"
        class="{% if active_page == 'entry' %}active{% endif %}">
        Entry
    </a>
</div>

{% endblock %}


{% block content %}
<h2>entry</h2>
{% endblock %}